/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}












/* MODDED MAPBOX */
.leaflet-control-zoom > a, .leaflet-bar,
.leaflet-bar a:first-child, .leaflet-bar a:last-child
{
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;

    -moz-border-top-left-radius: 0;
    -moz-border-top-right-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -moz-border-bottom-right-radius: 0;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}
.leaflet-bar {
    border: 0;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.leaflet-popup-content img {
    max-width: 100% !important;
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    -o-animation-name: bounceIn;
    animation-name: bounceIn;
}

.leaflet-popup-content a {
    text-decoration: none;
}


/* MINE */
html, body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #7A7A7A;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

html {
    background: #edeae3; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #edeae3 0%, #cac0bc 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#edeae3), color-stop(100%,#cac0bc)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #edeae3 0%,#cac0bc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #edeae3 0%,#cac0bc 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #edeae3 0%,#cac0bc 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #edeae3 0%,#cac0bc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeae3', endColorstr='#cac0bc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
/*    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);*/
    margin: 0;
    padding:0;
}

#map {
    position: fixed;
    left: 4%;
    right: 4%;
    top: 30px;
    bottom: 4%;
    -webkit-box-shadow: -1px 2px 6px rgba(0,0,0,.3);
    box-shadow: -1px 2px 6px rgba(0,0,0,.3);
    border: 1px solid rgba(255,255,255,.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.block {
    background-color: #fff;
    box-shadow: 0px 1px 1px #888;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.block input[type=text] {
/*    margin: 3%;*/
    margin-left: 5%;
    margin-right: 0;
}
.block input[type=submit] {
    padding: 4%;
}

.block input:focus {
    outline: none;
}

input {
    border: 0;
}
input[type=submit] {
    background-color: #76CA76;
    color: #fff;
    padding: 6px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
}
input[type=submit]:active {
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.3);
}
.visualhide {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#search {
    /*position: fixed;*/
    z-index:20;
    float: right;
/*    right: 30px;
    top: 20px;*/

    margin: .67em 0;

    width: 220px;
    height: 35px;    
}

#trigger {
    width: 30%;
    box-sizing: border-box;
    float: right;
}

#q {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
}

#q {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}
#q::-webkit-input-placeholder {
    font-weight: 300;   
}
#q:-moz-input-placeholder {
    font-weight: 300;   
}
#q::-moz-input-placeholder {
    font-weight: 300;   
}
#q:-ms-input-placeholder {
    font-weight: 300;   
}
#q::input-placeholder {
    font-weight: 300;   
}


#thumbtip {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: none;
    z-index: 20;
    padding: 10px;
    height: 75px;
    width: 75px;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.welcome-msg {
    position: fixed;
    top: 80px;
    left: 30px;
    right: 30px;
    bottom: 50px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10%;

    display: table-cell;
    vertical-align: middle;

    font-size: 34px;
    line-height: 41px;
    text-shadow: 0px 1px 1px #000;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .69);
    color: #94BAD8;

    cursor: hand;
    cursor: copy;
    z-index: 25;

    -webkit-transition: 0.4s opacity;
    -moz-transition: 0.4s opacity;
    -ms-transition: 0.4s opacity;
    -o-transition: 0.4s opacity;
    transition: 0.4s opacity;
}

.welcome-msg > div {
    position: relative;
    display: inline;
}

.dragging .welcome-msg {
    opacity: 0;
}

.welcome-msg a {
    cursor: copy;
    color: #86A6CE;
    text-decoration: none;
}
.welcome-msg .icon-earth {
    text-shadow: none;
    vertical-align: -5px;
    color: #64A890;
    margin-right: 4px;
    display: inline-block;
}

.welcome-msg .icon-earth.earthRotation {
    -webkit-animation-duration:45s;
    -moz-animation-duration:45s;
    -ms-animation-duration:45s;
    -o-animation-duration:45s;
    animation-duration:45s;

    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;

    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/* support */
.no-FileAPI .needs-FileAPI {
    display: none;
}
.fallback-FileAPI {
    display: none;
}
.no-FileAPI .fallback-FileAPI {
    display: inline;
}



/* layout v2 */
header {
    position: fixed;
    top: 10px;
    left: 30px;
    right: 30px;
    color: #eee;
}
header h1 {
    float: left;
}

footer {
    text-align: right;
    position: fixed;
    bottom: 7px;
    left: 30px;
    right: 30px;
}

.left {
    float: left;
}

a {
    color: #636363;
}

/*footer*/ a {
    text-decoration: none;
}

/*footer*/ a:hover {
    border-bottom: 1px dashed #999999;
}


/* layout v3 */
#map {
    left: 30px;
    right: 30px;
    top: 80px;
    bottom: 30px;

    opacity: 0;
}


/* keep going */

/* photolist */
.photolist {
    position: fixed;

    right: 30px;
    bottom: 30px;
}


/* portrait / default */
.photolist {
    left: 30px;
    min-height: 100px;
}
.photolist ul {
/*    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;

    -webkit-transition: cubic-bezier(0.97, 1.59, 0.01, 1.09);
    -moz-transition: cubic-bezier(0.97, 1.59, 0.01, 1.09);
    -ms-transition: cubic-bezier(0.97, 1.59, 0.01, 1.09);
    -o-transition: cubic-bezier(0.97, 1.59, 0.01, 1.09);
    transition: cubic-bezier(0.97, 1.59, 0.01, 1.09);*/
}
#map {
    margin-bottom: 120px;
    margin-right: 0;
}
/*
#map::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 10px;
    background-color: rgba(255,255,255,0.5);
    z-index: 500;
}
#map::after {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 500;
}*/


.photolist.active {
    box-sizing: border-box;
    border: 4px dashed #ddd;
    box-shadow: -1px 2px 6px rgba(0,0,0,.3);
}

.hide-photolist .photolist {
    -webkit-transform: translateY(120px);
    -moz-transform: translateY(120px);
    transform: translateY(120px);
    opacity: 0;
}

#map {
    -webkit-transition: 0.5s all;
}
.hide-photolist #map {
    margin-bottom: 0;
    margin-right: 0;
}

.hide-photolist #upload-form {
    display: none;
    opacity: 0;
    -webkit-transition: 0.5s opacity;
}

#upload-form {
    display: block;
    opacity: 1;
    float: right;
    margin: 15px 0 15px;
}

#upload-more {
    width: 220px;
}

.photolist {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.photolist ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
}

.photolist ul li {
    margin: 0;
    padding: 5px 5px 5px 0;
    list-style-type: none;
    height: 70px;
    box-sizing: border-box;


    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;

    cursor: default;
}
.photolist ul li:hover {
    background-color: #eee;
}
.photolist ul li.hover {
    background-color: #eee;
}
.photolist ul li.active {
    background-color: #7CB9FC;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
}
.photolist-img-wrap {
    width: 36%;
    height: 100%;
    box-sizing: border-box;
    margin-left: 6%;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
}
.photolist-img {
    position: absolute;
    margin-left: -25%;
    margin-top: -25%;
}
.photolist-info {
    float: right;
    width: 60%;
    margin-left: 1%;
    box-sizing: border-box;
}

.photolist-size, .photolist-coords {
    display: block;
    font-size: 10px;
    white-space: nowrap;
    color: #666;
}

.photolist-info span span {
    vertical-align: -1px;
    padding-right: 3px;
}


/*      |######|
 *      |######|
 *      --------
 *      |pppppp|
*/
@media (orientation: portrait) {
    .photolist {
        max-height: 31%;
        min-height: 80px;
        box-shadow: 0px 1px 1px #888;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    }

    #map {
        max-height: 53%;
        margin-bottom: 100px;
    }
    .hide-photolist #map {
        margin-bottom: 0;
        max-height: inherit;
    }

}

/*      |####|p|
 *      |####|p|
 *      |####|p|
 *      |####|p|
*/
@media (orientation: landscape) {
    .photolist {
        width: 220px;
        top: 80px;
        left: inherit;
    }

    #map {
        margin-bottom: 0;
        margin-right: 250px;
    }

}




/* modal */
.modal {
    position: fixed;
    z-index: 50;
    left: 50%;
    top:50%;
    margin-left: -10%;
    margin-top: -10%;

    background-color: white;
    background-color: rgba(255,255,255, 0.75);
}
.modal.full {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;

    text-align: center;
    padding-top: 30%;
    box-sizing: border-box;

    letter-spacing: 1px;
    word-spacing: 4px;
    font-size: 33px;
    letter-spacing: 1px;

    color: #00B8FF;
    text-shadow: -1px 1px 0px rgba(100,100,100,0.65),-1px 0px 0px rgba(100,100,100,0.65),0px 1px 0px rgba(100,100,100,0.65);
}
/* drag and drop */
.dnd-msg {
    opacity: 0;
    pointer-events: none;

    -webkit-transition: 0.5s all;
}

.dnd-msg.hover {
    opacity: 1;
    pointer-events: auto;
}


/* animations by daneden.me/animate */
@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }
    
    70% {
        -webkit-transform: scale(.9);
    }
    
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes bounceIn {
    0% {
        opacity: 0;
        -moz-transform: scale(.3);
    }
    
    50% {
        opacity: 1;
        -moz-transform: scale(1.05);
    }
    
    70% {
        -moz-transform: scale(.9);
    }
    
    100% {
        -moz-transform: scale(1);
    }
}

@-o-keyframes bounceIn {
    0% {
        opacity: 0;
        -o-transform: scale(.3);
    }
    
    50% {
        opacity: 1;
        -o-transform: scale(1.05);
    }
    
    70% {
        -o-transform: scale(.9);
    }
    
    100% {
        -o-transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    
    70% {
        transform: scale(.9);
    }
    
    100% {
        transform: scale(1);
    }
}
.animated {
    -webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;
}
.animated.afterwards {
    -webkit-animation-fill-mode:afterwards;-moz-animation-fill-mode:afterwards;-ms-animation-fill-mode:afterwards;-o-animation-fill-mode:afterwards;animation-fill-mode:afterwards;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;
}
.bounceIn {
    -webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    -o-animation-name: bounceIn;
    animation-name: bounceIn;
}
/* slideDownTiny */
@-webkit-keyframes slideDownTiny {
    0% { -webkit-transform: translateY(-10%); opacity: 0; }
    100% { -webkit-transform: translateY(0%); opacity: 1; }
}

@-moz-keyframes slideDownTiny {
    0% { -moz-transform: translateY(-10%); opacity: 0; }
    100% { -moz-transform: translateY(0%); opacity: 1; }
}

@-o-keyframes slideDownTiny {
    0% { -o-transform: translateY(-10%); opacity: 0; }
    100% { -o-transform: translateY(0%); opacity: 1; }
}

@keyframes slideDownTiny {
    0% { transform: translateY(-10%); opacity: 0; }
    100% { transform: translateY(0%); opacity: 1; }
}

.slideDownTiny {
    -webkit-animation-name: slideDownTiny;
    -moz-animation-name: slideDownTiny;
    -o-animation-name: slideDownTiny;
    animation-name: slideDownTiny;

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.animated.slideDownTiny {
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
/* slideDown */
@-webkit-keyframes slideDown {
    0% { -webkit-transform: translateY(-180%); opacity: 0; }
    100% { -webkit-transform: translateY(0%); opacity: 1; }
}

@-moz-keyframes slideDown {
    0% { -moz-transform: translateY(-180%); opacity: 0; }
    100% { -moz-transform: translateY(0%); opacity: 1; }
}

@-o-keyframes slideDown {
    0% { -o-transform: translateY(-180%); opacity: 0; }
    100% { -o-transform: translateY(0%); opacity: 1; }
}

@keyframes slideDown {
    0% { transform: translateY(-180%); opacity: 0; }
    100% { transform: translateY(0%); opacity: 1; }
}

.slideDown {
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    -o-animation-name: slideDown;
    animation-name: slideDown;

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.animated.slideDown {
    -webkit-animation-duration: 1.0s;
    -moz-animation-duration: 1.0s;
    -o-animation-duration: 1.0s;
    animation-duration: 1.0s;
}

.animated.delayed {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
/* expandExtra */
@-webkit-keyframes expandExtra {
    0% { padding-bottom: 0; }
    50% { padding-bottom: 90px; }
    75% { padding-bottom: 60px; }
    100% { padding-bottom: 70px; }   
}

@-moz-keyframes expandExtra {
    0% { padding-bottom: 0; }
    50% { padding-bottom: 90px; }
    75% { padding-bottom: 60px; }
    100% { padding-bottom: 70px; }   
}

@-o-keyframes expandExtra {
    0% { padding-bottom: 0; }
    50% { padding-bottom: 90px; }
    75% { padding-bottom: 60px; }
    100% { padding-bottom: 70px; }   
}

@keyframes expandExtra {
    0% { padding-bottom: 0; }
    50% { padding-bottom: 90px; }
    75% { padding-bottom: 60px; }
    100% { padding-bottom: 70px; }   
}

.expandExtra {
    -webkit-animation-name: expandExtra;
    -moz-animation-name: expandExtra;
    -o-animation-name: expandExtra;
    animation-name: expandExtra;

    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
}

.animated.expandExtra {
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    -o-animation-duration: 0.75s;
    animation-duration: 0.75s;
}

/* lightSpeedIn */
@-webkit-keyframes lightSpeedIn {
    0% { -webkit-transform: translateX(100%) skewX(-30deg); opacity: 0; }
    60% { -webkit-transform: translateX(-20%) skewX(30deg); opacity: 1; }
    80% { -webkit-transform: translateX(0%) skewX(-15deg); opacity: 1; }
    100% { -webkit-transform: translateX(0%) skewX(0deg); opacity: 1; }
}

@-moz-keyframes lightSpeedIn {
    0% { -moz-transform: translateX(100%) skewX(-30deg); opacity: 0; }
    60% { -moz-transform: translateX(-20%) skewX(30deg); opacity: 1; }
    80% { -moz-transform: translateX(0%) skewX(-15deg); opacity: 1; }
    100% { -moz-transform: translateX(0%) skewX(0deg); opacity: 1; }
}

@-o-keyframes lightSpeedIn {
    0% { -o-transform: translateX(100%) skewX(-30deg); opacity: 0; }
    60% { -o-transform: translateX(-20%) skewX(30deg); opacity: 1; }
    80% { -o-transform: translateX(0%) skewX(-15deg); opacity: 1; }
    100% { -o-transform: translateX(0%) skewX(0deg); opacity: 1; }
}

@keyframes lightSpeedIn {
    0% { transform: translateX(100%) skewX(-30deg); opacity: 0; }
    60% { transform: translateX(-20%) skewX(30deg); opacity: 1; }
    80% { transform: translateX(0%) skewX(-15deg); opacity: 1; }
    100% { transform: translateX(0%) skewX(0deg); opacity: 1; }
}

.lightSpeedIn {
    -webkit-animation-name: lightSpeedIn;
    -moz-animation-name: lightSpeedIn;
    -o-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.animated.lightSpeedIn {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
/* flash */
@-webkit-keyframes flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0.4;}
}

@-moz-keyframes flash {
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0.4;}
}

@-o-keyframes flash {
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0.4;}
}

@keyframes flash {
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0.4;}
}

.flash {
    -webkit-animation-name: flash;
    -moz-animation-name: flash;
    -o-animation-name: flash;
    animation-name: flash;
}
/* pulse */
@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); }    
    50% { -moz-transform: scale(1.1); }
    100% { -moz-transform: scale(1); }
}
@-o-keyframes pulse {
    0% { -o-transform: scale(1); }  
    50% { -o-transform: scale(1.1); }
    100% { -o-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); } 
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pulse {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
}

/* fadeInLeftBig */
@-webkit-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -moz-transform: translateX(-2000px);
    }
    
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -o-transform: translateX(-2000px);
    }
    
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    -moz-animation-name: fadeInLeftBig;
    -o-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
}


/* fadeIn */
@-webkit-keyframes fadeIn {
    0% {    opacity: 0; }    
    100% {  opacity: 1; }
}
@-moz-keyframes fadeIn {
    0% {    opacity: 0; }    
    100% {  opacity: 1; }
}
@-o-keyframes fadeIn {
    0% {    opacity: 0; }    
    100% {  opacity: 1; }
}
@keyframes fadeIn {
    0% {    opacity: 0; }
    100% {  opacity: 1; }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}


/* map load animation */


@-webkit-keyframes mapLoadedGlobe {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes mapLoadedGlobe {
    0% {
        opacity: 0;
        -moz-transform: translateX(-2000px);
    }
    
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes mapLoadedGlobe {
    0% {
        opacity: 0;
        -o-transform: translateX(-2000px);
    }
    
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes mapLoadedGlobe {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.mapLoaded {
    -webkit-animation-name: mapLoadedGlobe;
    -moz-animation-name: mapLoadedGlobe;
    -o-animation-name: mapLoadedGlobe;
    animation-name: mapLoadedGlobe;
}

.mapLoaded .leaflet-map-pane {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;

    -webkit-animation-name: mapLoadedMap;
    -moz-animation-name: mapLoadedMap;
    -o-animation-name: mapLoadedMap;
    animation-name: mapLoadedMap;   
}

.mapLoaded .leaflet-map-pane::before {
    content: '';
    display: block;
    background-color: #000;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes mapLoadedMap {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes mapLoadedMap {
    0% {
        opacity: 0;
        -moz-transform: translateX(-2000px);
    }
    
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes mapLoadedMap {
    0% {
        opacity: 0;
        -o-transform: translateX(-2000px);
    }
    
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes mapLoadedMap {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



/* earthRotation */
@-webkit-keyframes earthRotation {
    0%, 100% {
        -webkit-transform: rotate(-340deg);
    }
    
    50% {
        -webkit-transform: rotate(-377deg);
    }
}
@-moz-keyframes earthRotation {
    0%, 100% {
        -moz-transform: rotate(-340deg);
    }
    
    50% {
        -moz-transform: rotate(-377deg);
    }
}
@-o-keyframes earthRotation {
    0%, 100% {
        -o-transform: rotate(-340deg);
    }
    
    50% {
        -o-transform: rotate(-377deg);
    }
}
@keyframes earthRotation {
    0%, 100% {
        transform: rotate(-340deg);
    }
    
    50% {
        transform: rotate(-377deg);
    }
}

.earthRotation {
    -webkit-animation-name: earthRotation;
    -moz-animation-name: earthRotation;
    -o-animation-name: earthRotation;
    animation-name: earthRotation;
}


